@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Urbanist:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #e5e5e5;
  overflow-x: hidden;
}

img:hover {
  transform: scale(1.3, 1.1);
}

.my-logo {
  animation: rotation 2s;
  color: #6070ff;
  text-decoration: none;
}

@keyframes rotation {
  100% {
    transform: rotateX(360deg);
    transform: rotateY(360deg);
  }
}

form input {
  width: 447px;
  border-radius: 8px;
  border: 1px solid #dfe1e6;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #172b4d;
  height: 48px;
  top: calc(50% - 48px / 2);
}

input:hover {
  transform: translate(17px, 10px);
  transition: transform 2s linear;
}

textarea:hover {
  transform: translate(17px, 10px);
  transition: transform 1s linear;
}

.description-about {
  width: 447px;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #172b4d;
}

.description-about:hover {
  transform: translateX(50px);
  transition: transform 2s linear;
}

.main {
  display: grid;
  row-gap: 142px;
  width: 100%;
  height: 5125px;
  grid-template-areas:
    "nav-header"
    "myHeader"
    "work"
    "about-me"
    "contact-me";
}

.navbar {
  grid-area: nav-header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 72px;
  position: sticky;
  background: #fff;
}

.navbar-menu ul {
  list-style: none;
}

.skills li {
  color: #4053fc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: #ebebff;
  padding: 5px 12px;
  border-radius: 20px;
}

.navbar-menu ul li {
  display: inline-block;
  margin-left: 20px;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.contact-me {
  grid-area: contact-me;
  margin: 12px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  grid-column: 1/-1;
  width: 100%;
  min-height: 630px;
  background-image: url("./assert/images/Contact-me.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 801px;
  height: 577px;
  left: 0;
  top: calc(50% - 577px / 2);
  margin: 24px 0;
}

.about {
  grid-area: about-me;
  /* width: 100%; */
  margin-bottom: -278px;
  height: 924px;
  background-color: white;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;
  padding: 8%;
  /* padding: 146px; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  border-top-right-radius: 130px;
}

.about-text {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-img {
  grid-column: 2/3;
  width: 45%;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

.about-img ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51%;
}

.btn-tonic {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 12px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  border: 1px solid #4053fc;
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn-tonic:hover {
  background-color: #4053fc;
  color: #fff;
}

.btn-tonic:active {
  background-color: #4053fc;
  color: #fff;
}

.form-container .btn {
  display: flex;
  justify-content: center;
}

.header {
  grid-area: myHeader;
  background-color: white;
  height: 674px;
  height: 846px;
  border-bottom-left-radius: 19%;
  background-image: url("./assert/images/try.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: -142px;
}

.header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.social-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 30%;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: absolute;
  width: 920px;
  height: 268px;
  left: 260px;
  top: calc(50% - 268px / 2);
}

.text-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 920px;
  height: 268px;
  left: 260px;
  top: calc(50% - 268px / 2);
}

.social-container {
  width: 30%;
  margin-top: 30px;
}

.social-container img {
  width: 20px;
  height: 20px;
}

.heading {
  width: 482px;
  height: 122px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  margin: 12px 0;
}

.description {
  width: 716px;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 600px;
  max-width: 577px;
  position: absolute;
  padding: 16px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form-container textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.heading-about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  margin: 12px 0;
}

.subdescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 24px;
  font-family: "Poppins", sans-serif;
  flex: none;
  color: #7f8cff;
  margin: 12px 0;
}

.contact {
  font-size: 40px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.works {
  display: grid;
  place-items: center;
  width: 100%;
  height: 2694px;
  grid-template-areas:
    "work1 work1 work1"
    "work2 work2  work2"
    "work3 work3 work3"
    "work4 work4 work4";
  grid-template-columns: 142px 1fr 142px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card-1 {
  grid-area: work1;
  background-color: white;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1156px;
  height: 496px;
  border-radius: 24px;
}

.card-2 {
  grid-area: work2;
  background-color: white;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1156px;
  height: 496px;
  border-radius: 24px;
}

.card-3 {
  grid-area: work3;
  background-color: white;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 496px;
  border-radius: 24px;
}

.card-4 {
  grid-area: work4;
  background-color: white;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1156px;
  height: 496px;
  border-radius: 24px;
}

.card-1-1 {
  width: 544px;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 24px;
}

.card-1-1 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.card-1-1 ul li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-right: 20px;
}

.card-1-2 {
  display: flex;
  align-items: center;
}

.image-container {
  background-color: #091e42;
  grid-column: 2/3;
  width: 544px;
  height: 448px;
  background-image: url("./assert/images/desk-1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.image-container2 {
  background-color: #091e42;
  grid-column: 2/3;
  width: 544px;
  height: 448px;
  background-image: url("./assert/images/desk2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.image-container3 {
  background-color: #091e42;
  grid-column: 2/3;
  width: 544px;
  height: 448px;
  background-image: url("./assert/images/desc3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.image-container4 {
  background-color: #091e42;
  grid-column: 2/3;
  width: 544px;
  height: 448px;
  background-image: url("./assert/images/desk4.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.card-1-2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-home-about {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: auto;
  left: 260px;
  top: calc(50% - 268px / 2);
}

.desc-white {
  color: #fff;
  text-align: center;
}

.social-container-about ul {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 30px;
}

.mobile {
  display: none;
}

.skills li:hover {
  background-color: #4053fc;
  color: white;
}

.desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.cano {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.dot {
  color: #6b778c;
}

.empty {
  width: 8px;
  height: 8px;
  background-color: #6b778c;
  border-radius: 50%;
  margin-top: 8px;
}

.lang img {
  width: 20px;
  height: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: #344563;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.list .back {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px 50px 30px 5px;
  margin: 50px 10px;
  width: 120px;
  height: 120px;
  background-color: #f7f7f9;
}

.border {
  background: #dfe1e6;
  width: 82%;
  height: 1px;
  margin-bottom: 30px;
}

.card-1-2 {
  margin-left: 30px;
  margin-right: 30px;
}

/* media query to use  */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .navbar {
    max-width: 100vw;
    width: 100%;
    justify-content: space-between;
    padding: 0 25px;
  }

  .navbar-container {
    display: none;
  }

  .mobile {
    display: block;
  }

  .headline {
    width: 100%;
    left: 0;
    padding: 0 40px;
  }

  .description {
    width: 58%;
  }

  .works {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 20px;
    height: auto;
    width: 560px;
    margin: 15px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 3rem;
  }

  .card-1-1 {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  .about {
    flex-direction: column;
    height: 1550px;
    width: 100%;
    margin-bottom: -282px;
    padding-bottom: 145px;
  }

  .heading-about {
    width: 300px;
  }

  .list {
    flex-direction: column;
  }

  .about-img ul {
    width: 100%;
  }

  .list .back {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 10px 50px 30px 5px;
    width: 100%;
    height: 100px;
    background-color: #f7f7f9;
    margin: 30px 10px;
  }

  .about-img {
    width: 100%;
    height: auto;
    column-gap: 30px;
  }

  .text-home-about {
    width: 100%;
    margin-bottom: 2rem;
  }

  .title {
    padding-top: 30px;
    width: 100%;
  }

  .center {
    width: 100%;
  }

  .border {
    width: 100%;
  }
}

@media screen and (min-width: 425px) {
  .navbar {
    max-width: 100vw;
    width: 100%;
    justify-content: space-between;
    padding: 0 25px;
    /* margin-bottom: -80px; */
  }

  .headline {
    width: 100%;
    left: 0;
    padding: 0 40px;
    top: calc(35% - 268px / 2);
  }

  .heading {
    font-size: 2rem;
    width: 280px;
  }

  .description {
    width: 36%;
    padding-bottom: 30px;
  }

  .navbar-container {
    display: none;
  }

  .mobile {
    display: block;
  }

  form input {
    width: 344px;
  }

  .social-container {
    width: 30%;
    margin-top: 100px;
  }

  .works {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 20px;
    height: auto;
    width: 62%;
    margin: 15px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 3rem;
  }

  .card-1-1 {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  .about {
    flex-direction: column;
    padding-bottom: 145px;
    padding: 2%;
    height: 1649px;
    width: 100%;
    margin-bottom: -270px;
  }

  .heading-about {
    width: 300px;
  }

  .list {
    flex-direction: column;
  }

  .about-img ul {
    width: 100%;
  }

  .list .back {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 10px 50px 30px 5px;
    width: 100%;
    height: 100px;
    background-color: #f7f7f9;
    margin: 30px 10px;
  }

  .about-img {
    height: auto;
    column-gap: 30px;
    width: 384px;
  }

  .text-home-about {
    width: 100%;
    margin-bottom: 2rem;
  }

  .title {
    padding-top: 30px;
    width: 100%;
  }

  .center {
    width: 100%;
  }
  .contact-me {
    width: 60%;
  }

  .border {
    width: 100%;
  }

  .description-about {
    width: 100%;
  }

  .form-container {
    margin: 0 auto;
  }

  .form-container .form-group {
    display: flex;

    margin-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) {
  .navbar {
    max-width: 100vw;
    width: 100%;
    justify-content: space-between;
    padding: 0 25px;
    margin-bottom: -80px;
  }

  .navbar-container {
    display: block;
  }

  .mobile {
    display: none;
  }

  .headline {
    width: 100%;
    left: 0;
    padding: 0 40px;
  }

  .description {
    width: 70%;
  }

  .works {
    grid-template-columns: 2rem 1fr 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 20px;
    height: auto;
    width: 100%;
    place-items: start;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 77%;
    height: auto;
    padding: 20px;
    margin-bottom: 3rem;
    padding-left: 20px;
  }

  .card-1-2 {
    margin-left: 30px;
    margin-right: 30px;
    width: 45%;
  }

  .image-container {
    width: 250px;
  }

  .social-container {
    width: 30%;
    margin-top: 0;
  }

  .card-1-1 {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  .about {
    flex-direction: row;
    height: 1110px;
    width: 100%;
    padding: 50px;
    padding-right: 140px;
    padding-bottom: 145px;
    margin-bottom: -570px;
  }

  .heading-about {
    width: 300px;
  }

  .about-img ul {
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
  }

  .list .back {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding: 10px 22px 30px 5px;
    width: 100%;
    height: 100px;
    background-color: #f7f7f9;
    margin: 30px 10px;
  }

  .about-img {
    width: 100%;
    height: auto;
    column-gap: 30px;
  }

  .text-home-about {
    width: 100%;
    margin-bottom: 2rem;
  }

  .description-about {
    width: 70%;
  }
  .title {
    padding-top: 30px;
    width: 100%;
  }

  .text-home-about {
    width: 80%;
  }
  .center {
    width: 100%;
  }

  .list {
    justify-content: flex-start;
  }

  .list .back {
    width: 100px;
  }

  .border {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) {
  .works {
    margin: 30px;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 95%;
  }

  .about {
    padding-right: 70px;
  }

  .description-about {
    width: 80%;
  }

  .about-img {
    padding: 24px;
  }

  .card-1-2 {
    width: 50%;
  }

  .card-1-1 {
    width: 50%;
  }

  .image-container {
    width: 95%;
  }

  .title {
    align-items: center;
  }

  .social-container {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (min-width: 1100px) {
  .description-about {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .social-container {
    width: 50%;
  }
  .center {
    align-items: stretch;
  }

  .contact-me {
    width: 100%;
  }

  form {
    max-width: 100vw;
  }
}

@media (min-width: 992px) {
}
@media (min-width: 1024px) {
}
