@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Urbanist:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #e5e5e5;
}

img:hover {
  transform: scale(1.3, 1.1);
}

.my-logo {
  animation: rotation 2s;
  color: #6070ff;
  text-decoration: none;
}

@keyframes rotation {
  100% {
    transform: rotateX(360deg);
    transform: rotateY(360deg);
  }
}

@media (min-width: 640px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1535px) {
}

@media (min-width: 1536px) {
}

.main {
  display: grid;
  row-gap: 146px;
  grid-template-areas:
    "myHeader"
    "work"
    "about-me"
    "contact-me";
  height: auto;
  width: 100vw;
}

.main:last-child {
  margin-bottom: -100px;
}

.contact-me {
  grid-area: contact-me;
  margin: 12px 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  grid-column: 1/-1;
  width: 100%;
  height: auto;
  background-image: url("../assert/images/Contact-me.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.about {
  grid-area: about-me;
  width: 100%;
  margin-bottom: -160px;
  height: auto;
  background-color: white;
  padding: 12px;
  grid-column: 1/-1;
  padding: 146px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top-right-radius: 130px;
}

.about-text {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-img {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 100%;
  height: 100%;
}

.btn-tonic {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #dfe1e6;
  color: #253858;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 12px;
}

.header {
  grid-area: myHeader;
  background-color: white;
  height: 674px;
  height: 740px;
  border-bottom-left-radius: 19%;
  background-image: url("../assert/images/try.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.social-container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 30%;
  padding: 10px;
  margin: 10px;
}

.headline {
  width: 980px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 920px;
  height: 268px;
  left: 260px;
  top: calc(50% - 268px / 2);
}

.social-container {
  width: 30%;
}

.social-container img {
  width: 20px;
  height: 20px;
}

.social-container ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.heading {
  position: static;
  width: 470px;
  height: 122px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  margin: 12px 0px;
}

.description {
  width: 716px;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #172b4d;
}

.description-about {
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  margin: 12px;
  background-color: white;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form-container textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.heading-about {
  height: 122px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  margin: 12px 0px;
}

form input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #dfe1e6;
  padding: 12px;
  margin: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #172b4d;
}

.subdescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 24px;
  font-family: "Poppins", sans-serif;
  flex: none;
  color: #172b4d;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.works {
  display: grid;
  row-gap: 146px;
  column-gap: 146px;
  width: 100%;
  grid-template-areas:
    "work1 work1 work1 work1"
    "work2 work2 work2 work2"
    "work3 work3 work3 work3"
    "work4 work4 work4 work4";

  grid-template-columns: 40px 1fr 1fr 40px;
  grid-template-rows: auto auto auto auto;
}

.card-1 {
  grid-area: work1;
  width: 100%;
  height: 400px;
  background-color: white;
  grid-column: 2/4;
  display: grid;
  grid-template-areas: "image text";
}

.card-2 {
  grid-area: work2;
  width: 100%;
  height: 400px;
  background-color: white;
  grid-column: 2/4;
  display: grid;
  grid-template-areas: "image text";
}

.card-3 {
  grid-area: work3;
  width: 100%;
  height: 400px;
  background-color: white;
  grid-column: 2/4;
  display: grid;
  grid-template-areas: "image text";
}

.card-4 {
  grid-area: work4;
  width: 100%;
  height: 400px;
  background-color: white;
  grid-column: 2/4;
  display: grid;
  grid-template-areas: "image text";
}

.card-1-1 {
  width: 100%;
  height: 100%;
  background-image: url("../assert/images/try.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
}

.card-1-2 {
  width: 100%;
  height: 100%;
  background-color: #091e42;
  grid-column: 2/3;
}

.heading-about {
  width: 397px;
}

.text-home-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  height: auto;
  left: 260px;
  top: calc(50% - 268px / 2);
}

.description-about {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #172b4d;
}

.social-container-about ul {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
